<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Details</title>
</head>
<body>
    <table border="2" width="100%">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Confirm Password</th>
        </tr>
        {% for i in info %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.username}}</td>
            <td>{{i.password}}</td>
            <td>{{i.cpassword}}</td>
            <td><button><a href="{% url 'update' i.id %}">Update</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>